h1 {
  border-top: 1px solid red;
  border-bottom: 1px solid red;
  text-align: center;
   border-left: 1px solid red; 
    border-right: 1px solid red;ы
}

#top1 {
margin-left: 650px;
}

#top2 {
margin-left: 430px;
}

#an0 {
text-align: center;
font-size: 30px;
}

#p1 {
  border-top: 1px solid blue;	
}

#p2 {
border-top: 5px solid green;	
}


#pod {
text-align: center;	
font-size: 31px;
}

#VK {
font-size: 37px;
color: blue;	
margin-bottom: 30px;
}

#inst {
font-size: 37px;
margin-left: 250px;	
margin-bottom: 30px;
margin-top: 40px;
}















#an1 {
 border-top: 1px solid red;
 border-bottom: 1px solid red;
 text-align: center;
 font-size: 30px;
 width: 700px;
 border: 1px solid #000; 
    border-left: 1px solid red; 
    border-right: 1px solid red;
   margin-left:  560px;
  border-top: 1px solid red;
  border-bottom: 1px solid red;





}
#an2 {
	border-top: 1px solid red;
 border-bottom: 1px solid red;
 text-align: center;
 font-size: 30px;
 width: 700px;
 border: 1px solid #000; 
 padding: 33px; 
 border-left: 1px solid red; 
    border-right: 1px solid red;
      margin-left: 510px;
  border-top: 1px solid red;
  border-bottom: 1px solid red;

 }





#an3 {
 border-top: 1px solid red;
 border-bottom: 1px solid red;
 text-align: center;
 font-size: 30px;
 width: 700px;
 border: 1px solid #000; 
 border-left: 1px solid red; 
    border-right: 1px solid red;
      margin-left: 540px;
  border-top: 1px solid red;
  border-bottom: 1px solid red;
}





 #an4 {
	border-top: 1px solid red;
 border-bottom: 1px solid red;
 text-align: center;
 font-size: 30px;
 width: 800px;
 border: 1px solid #000; 
 padding: 33px; 
 border-left: 1px solid red; 
    border-right: 1px solid red;
      margin-left: 444px;
        border-top: 1px solid red;
  border-bottom: 1px solid red;
 }

 #an5 {
 border-top: 1px solid red;
 border-bottom: 1px solid red;
 text-align: center;
 font-size: 30px;
 width: 700px;
 border: 1px solid #000; 
 padding: 33px;
 margin: 2%
 border-left: 1px solid red; 
    border-right: 1px solid red;
      margin-left: 510px;
        border-top: 1px solid red;
  border-bottom: 1px solid red;

}

#an6 {
 border-top: 1px solid red;
 border-bottom: 1px solid red;
 text-align: center;
 font-size: 30px;
 width: 700px;
 border: 1px solid #000; 
 padding: 33px;
 margin: 2%
 border-left: 1px solid red; 
    border-right: 1px solid red;
      margin-left: 510px;
        border-top: 1px solid red;
  border-bottom: 1px solid red;

}

#a1 {
font-size: 26px;	
}

#a2 {
font-size: 26px;	
}

#an7 {
 border-top: 1px solid red;
 border-bottom: 1px solid red;
 text-align: center;
 font-size: 30px;
 width: 700px;
 border: 1px solid #000; 
 padding: 33px;
 margin: 2%
 border-left: 1px solid red; 
    border-right: 1px solid red;
      margin-left: 510px;
        border-top: 1px solid red;
  border-bottom: 1px solid red;
}

#an11 {
font-size: 33px;
color: #cc0000;
text-align: center;
border-top: 1000px;
}

#l1 {
text-align: center;	
font-size: 24px;
}